@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #caeb66;
  --color-secondary: #03373d;
}

body {
  font-family: "Urbanist", sans-serif;
}

.myBtn {
  @apply btn bg-base-100 hover:bg-primary rounded-lg mt-1;
}
.myBtn .active {
  background-color: #caeb66;
}
.btnSmall{
  @apply btn btn-sm bg-primary hover:bg-green-500 mt-1;
}
.btnWarn{
  @apply btn btn-sm bg-amber-500 hover:bg-amber-600 mt-1 text-black;
}
